MUST HAVE:
	[] action registering
	[x] gravity system
	enemies:
		[] enemies show action combos and die when performed
		[] enemies show feedback while completing their combos
		[] eniemies spawn and moving system
		types:
			[] ghost (different types, each one with a combo)
			[] "slendermans" (has two combos. After first one is completed, it steps back and the other one appears)
		
	animations:
			[x] jumping
			[x] running
			[] uppercut
			[] front kick
			[] spin kick
			[] downwards punch
