MUST HAVE:
	[x] action registering
	[x] gravity system
	[x] action stack
	[x] progress system (accelerating time)
	enemies:
		[x] enemies show action combos and die when performed
		[] enemies show feedback while completing their combos
		[] eniemies spawn and moving system
		types:
			[] ghost (different types, each one with a combo)
			[] "slendermans" (has two combos. After first one is completed, it steps back and the other one appears)
		
	animations:
			[x] jumping
			[x] running
			[] uppercut
			[x] front kick
			[x] spin kick
			[] downwards punch
			[] torso and legs decopuling

NICE TO HAVE:
	[] arrow holder shows arrows smoothly when added
	[] extra effects to animations, like colors and screen shakes
	[] improve arrow visuals when a combo succeeds
	[] infinite parallax layer background
